<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sso.dao.AuthRoleDao">
	<select id="findByRoleId" resultType="com.sso.domain.Role">
		SELECT * FROM authrole
		WHERE
		email=#{Id}
	</select>



</mapper>